.forkme img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1000;
}

body {
  background-color: #093272;
}

.navbar {
  border-radius: 0px;
  min-height: 120px;
  margin-bottom: 40px;
}

.navbar-default {
  background: #093272 url("../images/nav-bg.jpg") repeat scroll 0 0;
  border-color: #093272;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus {
  font-family: 'Russo One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 38px;
  line-height: 38px;
  font-weight: 800;
  color: #FFD700;
  margin-top: 30px;
  text-shadow: 3px 3px 4px #000;
}

.navbar-default .navbar-brand:hover {
  color: #D9FF0D;
}

@media screen and (max-width: 980px) {
  .navbar-default .navbar-brand,
  .navbar-default .navbar-brand:focus {
    font-size: 34px;
    line-height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-brand,
  .navbar-default .navbar-brand:focus {
    margin-top: 5px;
    font-size: 32px;
    line-height: 32px;
  }
}


.btn-leap {
  font-family: 'Russo One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 26px;
}
.visible-xs-block .btn-leap {
  font-size: 14px;
  max-width: 280px;
}
.xleap-link {
  cursor: pointer; cursor: hand;
}

img.leap-hero {
  height: 80px;
}

.visible-xs-block img.leap-hero {
  width: 100%;
  height: auto;
  margin-top: 8px;
}