[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = git@github.com:FastLED/FastLED.git
[submodule "libraries/X113647Stepper"]
	path = libraries/X113647Stepper
	url = https://github.com/tardate/X113647Stepper.git
[submodule "libraries/TextFinder"]
	path = libraries/TextFinder
	url = https://github.com/tardate/TextFinder.git
[submodule "libraries/FlexiTimer2"]
	path = libraries/FlexiTimer2
	url = https://github.com/wimleers/flexitimer2.git
