[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "libraries/X113647Stepper"]
	path = libraries/X113647Stepper
	url = https://github.com/tardate/X113647Stepper.git
[submodule "libraries/TextFinder"]
	path = libraries/TextFinder
	url = https://github.com/tardate/TextFinder.git
[submodule "libraries/FlexiTimer2"]
	path = libraries/FlexiTimer2
	url = https://github.com/wimleers/flexitimer2.git
[submodule "libraries/RF24"]
	path = libraries/RF24
	url = https://github.com/maniacbug/RF24
[submodule "libraries/RadioHead"]
	path = libraries/RadioHead
	url = https://github.com/tardate/RadioHead
[submodule "libraries/Adafruit_SSD1306"]
	path = libraries/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306
[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "libraries/LedControl"]
	path = libraries/LedControl
	url = https://github.com/wayoda/LedControl
[submodule "libraries/Rotary"]
	path = libraries/Rotary
	url = https://github.com/brianlow/Rotary
[submodule "libraries/u8glib"]
	path = libraries/u8glib
	url = https://github.com/olikraus/U8glib_Arduino
[submodule "libraries/DS3232RTC"]
	path = libraries/DS3232RTC
	url = https://github.com/JChristensen/DS3232RTC
[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = https://github.com/PaulStoffregen/OneWire
[submodule "libraries/Cordwood"]
	path = libraries/Cordwood
	url = https://github.com/aaronjasso/Cordwood
[submodule "libraries/LRAS1130"]
	path = libraries/LRAS1130
	url = https://github.com/LuckyResistor/LRAS1130
[submodule "libraries/EnableInterrupt"]
	path = libraries/EnableInterrupt
	url = https://github.com/GreyGnome/EnableInterrupt
[submodule "libraries/Radio"]
	path = libraries/Radio
	url = https://github.com/mathertel/Radio.git
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "libraries/DHT-sensor-library"]
	path = libraries/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library
[submodule "libraries/Adafruit-TFTLCD-Library"]
	path = libraries/Adafruit-TFTLCD-Library
	url = https://github.com/adafruit/TFTLCD-Library
[submodule "libraries/TFT_ILI9163C"]
	path = libraries/TFT_ILI9163C
	url = https://github.com/sumotoy/TFT_ILI9163C
[submodule "libraries/Adafruit_PCD8544"]
	path = libraries/Adafruit_PCD8544
	url = https://github.com/adafruit/Adafruit-PCD8544-Nokia-5110-LCD-library
[submodule "libraries/arduino-new-ping"]
	path = libraries/arduino-new-ping
	url = https://bitbucket.org/teckel12/arduino-new-ping
[submodule "libraries/Arduino-Temperature-Control-Library"]
	path = libraries/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
