<table>
  <tr><th>page.id</th><td>{{ page.id }}</td></tr>
  <tr><th>page.title</th><td>{{ page.title }}</td></tr>
  <tr><th>page.url</th><td>{{ page.url }}</td></tr>
  <tr><th>page.dir</th><td>{{ page.dir }}</td></tr>
  <tr><th>page.name</th><td>{{ page.name }}</td></tr>
  <tr><th>page.path</th><td>{{ page.path }}</td></tr>
  <tr><th>page</th><td>{{ page | inspect }}</td></tr>
  <tr><th>pagediags</th><td>{{ pagediags | inspect }}</td></tr>
  <tr><th>project_name</th><td>{{ project_name }}</td></tr>
</table>