<div class="list-group project-sidebar">
  <div class="list-group-item active">
      About {{ leap_id }}
      {% if project_tags %}
      {% for tag in project_tags  %}<span class="badge badge-success">{{ tag }}</span>{% endfor %}
      {% endif %}
  </div>
  <a href="{% if leap_id %}{{ site.repo_url | append: "/blob/master" | append: page.url }}{% else %}{{ site.repo_url}}{% endif %}" class="list-group-item" target="_blank">
    <span class="fa fa-link" aria-hidden="true"></span>
    Project Source on GitHub
  </a>
  <a href="{{ "/gallery.html" | prepend: site.baseurl }}" class="list-group-item">
    <span class="fa fa-film" aria-hidden="true"></span>
    Project Gallery
  </a>
  <a href="{{ site.url }}" class="list-group-item">
    <span class="fa fa-backward" aria-hidden="true"></span>
    Return to the LEAP Catalog
  </a>
  <div class="list-group-item">
    <p>
      This page is a web-friendly rendering of my project notes shared in the
      LEAP GitHub repository.
    </p>
    {% include sidebar_links.html %}
  </div>
</div>
{% include adsidebar.html %}
