<div class="list-group">
  <div class="list-group-item active">
    About the {{ project_name }} Project
  </div>
  <a href="{{ site.repo_url | append: "/blob/master" | append: page.url }}" class="list-group-item" target="_blank">
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
    Project Source on GitHub
  </a>
  <a href="{{ site.url }}" class="list-group-item">
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
    Return to the LEAP Catalog
  </a>
  <div class="list-group-item">
    <p>
      This page is a web-friendly rendering of my project notes shared in the
      LEAP GitHub repository.
    </p>
    <p>
      LEAP is my personal collection of electronics projects,
      usually involving an Arduino or other microprocessor in one way or another.
      Some are full-blown projects, while many are trivial breadboard experiments,
      intended to learn and explore something interesting (IMHO!).
    </p>
    <p>
      The projects are usually inspired by things found wild on the net, or ideas from the sources such as:
      <ul>
        <li><a href="https://www.boldport.club/">Boldport Club</a></li>
        <li><a href="https://www.nutsvolts.com/">Nuts&amp;Volts magazine</a></li>
        <li><a href="https://www.siliconchip.com.au/">Silicon Chip magazine</a></li>
        <li><a href="https://electronics.stackexchange.com/">Electrical Engineering StackExchange</a></li>
        <li><a href="https://arduino.stackexchange.com/">Arduino StackExchange</a></li>
        <li><a href="https://playground.arduino.cc/">Arduino Playground</a></li>
        <li>books from <a href="https://www.goodreads.com/review/list/17475014-paul?shelf=electronics">my electronics bookshelf</a></li>
        <li>the many great electronics YouTube channels e.g.</li>
        <ul>
          <li><a href="https://www.youtube.com/channel/UCosnWgi3eorc1klEQ8pIgJQ">Afrotechmods</a></li>
          <li><a href="https://www.youtube.com/channel/UCS0N5baNlQWJCUrhCEo8WlA">Ben Eater</a></li>
          <li><a href="https://www.youtube.com/channel/UC6mIxFTvXkWQVEHPsEdflzQ">GreatScott!</a></li>
          <li><a href="https://www.youtube.com/channel/UCmHvGf00GDuPYG9DZqQKd9A">Julian Ilett</a></li>
          <li><a href="https://www.youtube.com/channel/UCDqryeq1kMDSEQwltWqASrA">Scullcom Hobby Electronics</a></li>
          <li><a href="https://www.youtube.com/channel/UCiqd3GLTluk2s_IBt7p_LjA">w2aew</a></li>
        </ul>
      </ul>
      Feel free to borrow liberally, and if you spot any issues do let me know. See the individual projects for credits where due.
      There are even now a few projects contributed by others - send your own over in a pull request if you would also like to add to this collection.
    </p>
  </div>
</div>
{% include adsidebar.html %}

