<p>
  LEAP is just my personal collection of projects.
  Two main themes have emerged in recent years, sometimes combined:
  <ul>
    <li>
      electronics - usually involving an Arduino or other microprocessor in one way or another.
      Some are full-blown projects, while many are trivial breadboard experiments,
      intended to learn and explore something interesting
    </li>
    <li>
      scale modelling - I caught the bug after
      deciding to build a Harrier during covid to demonstrate an electronic jet engine simulation.
      Let the fun begin..
    </li>
  </ul>
  To be honest, I haven't quite figured out if these two interests belong in the same GitHub repo or not.
  But for now - they are all here!
</p>
<p>
  Projects are often inspired by things found wild on the net,
  or ideas from the many great electronics and scale modelling podcasts and YouTube channels.
  Feel free to borrow liberally, and if you spot any issues do let me know (or send a PR!).
  See the individual projects for credits where due.
</p>
